
preprocess/criteo/test.txt
preprocess/criteo/train.txt
preprocess/fedads/sample_train_aligned.csv
preprocess/fedads/sample_train_unaligned.csv
datasets/criteo/100w/criteo_test.csv
datasets/criteo/100w/criteo_train.csv
datasets/criteo/100w/fea_num.npy
datasets/criteo/criteo_train.csv
datasets/criteo/fea_num.npy
datasets/criteo/criteo_test.csv
datasets/fedads/fea_num.npy
datasets/fedads/fedads_data.py
datasets/fedads/fedads_test.csv
datasets/fedads/fedads_train.csv
results/criteo/criteo.pth
results/criteo/criteo_dcor=0.01.pth
results/fedads/fedads.pth
